.contentdesigner-content .image-container {
    margin-bottom: 10px;
}

/* Display the image in full width of the content */
.contentdesigner-content .element-image-img {
    width: 100%;
}

/* Make the cursor zoom in for image galleyr */
.contentdesigner-content .element-image-img[data-lightbox="image-gallery"] {
    cursor: zoom-in;
}

/* Image caption - added padding on top and bottom */
.contentdesigner-content .element-image-caption {
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-header.modal-lightbox {
    position: absolute;
    top: 1px;
    right: 1px;
    background: #fff;
    color: #ccc;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    z-index: 1;
}


.modal .modal-header.modal-lightbox .btn-close {
    margin: 0 4px 0;
    padding: 0.2rem 0.2rem;
}

.modal-lightbox .modal-body {
    padding: 0;
}

.contentdesigner-content .contentdesigner-wrapper .course-content-list
.chapter-elements-list li.element-item .element-image {
    > a:focus {
        box-shadow: none;
    }
    .carousel-indicators {
        cursor: pointer;
        li {
            width: 30px;
            height: 3px;
            margin-right: 3px;
            margin-left: 3px;
            margin-bottom: 5px;
            text-indent: -999px;
            list-style: none;
            background-color: rgba(255, 255, 255, .5);
            position: relative;
            flex: 0 1 auto;
            &:before,
            &:after {
                content: "";
                width: 100%;
                height: 10px;
                display: inline-block;
                position: absolute;
                top: -10px;
                left: 0;
            }
            &:after {
                bottom: -10px;
            }
        }
    }
}
